<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main>
        <div class="textUpperLeft">
            <p>MiApp</p>
        </div>
        <div class="containerLogIn">
            <div class="tittleTextLogIn">
                <h2 class="paragraphLogin">Create an account</h2>
            </div>
            <form class="signUp">
                <label for="email" id="textEmail">Enter your email to sign up for this app</label>
                <input class="inputEmail" name="email" id="email" type="email" placeholder="email@domain.com">
                <input class="emailButton" for="email" value="SigUp with email" type="button">
                <p class="segundaOpcion">------------------------ Or connect with ------------------------</p>
                <button for="signUp" class="signupGoogle"><img src="../assets/icons/Google.png"><span class="signupGoogleText">Google</span></button>
                <div class="termsOfService"><p>By clicking continue, you agree to out <span>Terms Of Service</span> and <span>Privacy Policy</span></p></div>
            </form>
        </div>
    </main>    
</body>
</html>