<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea4</title>
    <link rel="stylesheet" href="../assets/css/style.css">    
</head>
<body>
    <main>
        <div class="container">
            <div class="conatinerText">
                <div class="titulo">
                    <h1>Nuestros ingredientes</h1>
                </div>
                <div class="parrafo">
                    <p>Subheading that sets up conext, share more info about the author, or geneally gets people psyched to keep reading</p>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/images/banner.png">
            </div>
        </div>
    </main>
</body>
</html>