<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main>
        <div class="contactosContainer">
            <p class="titulo">Contactos</p>
            <div class="contactos">                            
                <div class="usuario">                
                    <img src="../assets/images/helena.png">
                    <div class="text">
                        <p class="nombre">Helena</p>
                        <p class="email">email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="usuario">
                    <img src="../assets/images/oscar.png">
                    <div class="text">
                        <p class="nombre">Oscar</p>
                        <p class="email">email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="usuario">
                    <img src="../assets/images/daniel.png">
                    <div class="text">
                        <p class="nombre">Daniel</p>
                        <p class="email">email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="usuario">
                    <img src="../assets/images/jay.png">
                    <div class="text">
                        <p class="nombre">Daniel Jay Park</p>
                        <p class="email">email@figmasfakedomain.net</p>
                    </div>
                </div>
                <div class="usuario">                
                    <img src="../assets/images/mark.png">
                    <div class="text">
                        <p class="nombre">Mark Rojas</p>
                        <p class="email">email@figmasfakedomain.net</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>