<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <main>
        <div class="postContainer">
            <div class="post">
                <div class="user">
                    <img src="../assets/images/helena.png">
                    <div class="userName">
                        <div class="usersInfo"><p>Helena</p> in gruop name</div>
                        <div class="lastUpdate">3 min ago</div>
                        <div class="actions"><p>...</p></div>
                    </div>
                </div>
                <div recurso>
                    <div class="espacio"></div>
                    <p>Post description</p>
                </div>
                <div class="interaccion">
                    <div class="likes">
                        <img src="../assets/icons/Heart.png">
                        <p>2 likes</p>
                    </div>
                    <div class="comments">
                        <img src="../assets/icons/Comment.png">
                        <p>5 comments</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="user">
                    <img src="../assets/images/daniel.png">
                    <div class="userName">
                        <div><p>Daniel</p> ingruop name</div>
                        <div class="lastUpdate">5 min ago</div>
                        <div class="actions"><p>...</p></div>
                    </div>
                </div>
                <div recurso>
                    <div class="espacio"></div>
                    <p>Post description</p>
                </div>
                <div class="interaccion">
                    <div class="likes">
                        <img src="../assets/icons/Heart.png">
                        <p>21 likes</p>
                    </div>
                    <div class="comments">
                        <img src="../assets/icons/Comment.png">
                        <p>4 comments</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="user">
                    <img src="../assets/images/oscar.png">
                    <div class="userName">
                        <div><p>Oscar</p> in group name</div>
                        <div class="lastUpdate">10 min ago</div>
                        <div class="actions"><p>...</p></div>
                    </div>
                </div>
                <div recurso>
                    <div class="espacio"></div>
                    <p>Post description</p>
                </div>
                <div class="interaccion">
                    <div class="likes">
                        <img src="../assets/icons/Heart.png">
                        <p>3 likes</p>
                    </div>
                    <div class="comments">
                        <img src="../assets/icons/Comment.png">
                        <p>7 comments</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>